body {
    font-family: monospace;
    margin: 5%;
    background: rgb(130, 170, 204) none repeat scroll 0% 0%;
    color: rgb(7, 3, 66);
}

a {
    color: rgb(147, 69, 69);
}

table, td {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    padding: 10px;
    background: rgba(68, 18, 18, 0.08) none repeat scroll 0% 0%;
}

input[type="text"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
