<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Play</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/songlist/style.css">
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script language="javascript">
        SC.initialize({ client_id: "77e325396300c9b6d63be0cbc005bb72" });

        var songlist = {
            
            baseURL: 'http://bunburya.eu/songlist',
            
            serviceDomains: {
                'youtube':      ['youtube.com', 'www.youtube.com',
                                'youtu.be', 'www.youtu.be'],
                'soundcloud':   ['soundcloud.com', 'www.soundcloud.com']
            },
            
            players: {},
            
            getService: function(domain) {
                for (serv in songlist.serviceDomains) {
                    if (songlist.serviceDomains.hasOwnProperty(serv)) {
                        if (songlist.serviceDomains[serv].indexOf(domain) != -1) {
                            return serv;
                        }
                    }
                }
                return null;
            },
            
            getChecked: function(name) {
                var checked = new Array();
                var boxes = document.getElementsByName(name);
                for (var i = 0; i < boxes.length; i++) {
                    var b = boxes[i];
                    if (b.checked) {
                        checked.push(b.value);
                    }
                }
                return checked;
            },
            
            getURL: function(url) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", url, false);
                xmlhttp.send();
                return xmlhttp.responseText;
            },
            
            getQueryString: function(params) {
                var queries = new Array();
                for (var key in params) {
                    queries.push(key + '=' + params[key].join(';'));
                }
                return queries.join('+');
            },
            
            loadSCPlayer: function(url) {
                SC.get('/resolve/?url=' + url,
                        songlist.loadSCPlayerFromValidURL);
            },
            
            loadSCPlayerFromValidURL: function(response, error) {
                var scUrl = response.uri;
                console.log(scUrl);
                var scWidget = songlist.players.soundcloud;
                if (!scWidget) {
                    var iframe = document.createElement('iframe');
                    iframe.width = '100%';
                    iframe.src = 'http://w.soundcloud.com/player?url=' + scUrl;
                    document.getElementById('player').appendChild(iframe);
                    var scWidget = SC.Widget(iframe);
                    songlist.players.soundcloud = scWidget;
                } else {
                    scWidget.load(scUrl);
                }
                // NOTE: not sure if this bind to READY is effective to call play() if the
                // widget is already ready by the time it is called.
                scWidget.bind(SC.Widget.Events.READY, function() { scWidget.play() });
                scWidget.bind(SC.Widget.Events.FINISH, function() { songlist.next() });
            },
            
            getPlaylist: function(services, submitters) {
                var url = songlist.baseURL;
                if (songlist.baseURL.slice(-1) != '/') {
                    url += '/';
                }
                url += 'search?format=json&target=songs';
                if (services.length) {
                    var domains = new Array();
                    for (var i = 0; i < services.length; i++) {
                        domains.push.apply(domains, songlist.serviceDomains[services[i]]);
                    }
                    url += '&domain=' + domains.join(';');
                }
                if (submitters.length) {
                    url += '&submitter=' + submitters.join(';');
                }
                var playlist = songlist.getURL(url);
                return JSON.parse(playlist);
            },
            
            loadSong: function(song) {
                var service = songlist.getService(song.domain);
                if (service == 'soundcloud') {
                    songlist.loadSCPlayer(song.url);
                }
            },

            loadCurrentSong: function() {
                songlist.loadSong(songlist.playlist[songlist.playing]);
            },
            
            load: function() {
                var services = songlist.getChecked('services');
                var submitters = songlist.getChecked('submitters');
                var playlist = songlist.getPlaylist(services, submitters);
                songlist.playlist = playlist;
                songlist.playing = 0; // index of currently playing song
                songlist.loadCurrentSong();
            },

            next: function() {
                songlist.playing++;
                songlist.loadSong(songlist.playlist[songlist.playing]);
            }
        
        }
    </script>
</head>

<body>
    <h1>Play the songlist</h1>
    <table>
        <tr>
            <h2>Play songs submitted by:</h2>
            {% for s in submitters %}
            <input type="checkbox" name="submitters" value="{{ s }}" checked> {{ s }}
            {% endfor %}
        </tr>
        <tr>
            <h2>Streaming services to play:</h2>
            <!--TODO: generate this the same way as submitters,
            maybe implement a python function to return supported services-->
            <input type="checkbox" name="services" value="youtube" checked> YouTube
            <input type="checkbox" name="services" value="soundcloud" checked> Soundcloud
        </tr>
        <tr>
            <h2>Controls</h2>
            <button onclick="songlist.load()">Load</button>
            <button onclick="playlist.play()">Play</button>
            <button onclick="playlist.stop()">Stop</button>
            <button onclick="playlist.prev()">Prev</button>
            <button onclick="songlist.next()">Next</button>
        </tr>
        <tr id="player">
            <h2>Player</h2>
            <!--player to be inserted here by javascript-->
        </tr>
    
    </table>
    
</body>

</html>
