<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Play</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/songlist/style.css">
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script language="javascript">
        
        // initialise soundcloud API with client ID
        SC.initialize({ client_id: "77e325396300c9b6d63be0cbc005bb72" });
        
        var ytWidget;
        var ytIframe;
        function onYouTubeIframeAPIReady () {
            // it would appear the YT player has to be defined in this function.
            // TODO: move this function below songlist module, and when songlist
            // module is moved to external script, keep this function here.
            // this is to avoid race conditions.
            ytWidget = new YT.Player('yt_player', {
                height: '390',
                width: '640',
            });
            ytIframe = ytWidget.c;
            ytIframe.hidden = true;
            if (songlist) {
                songlist.players.youtube = {
                    widget: ytWidget,
                    iframe: ytIframe
                }
            }
        }

        var songlist = {

            baseURL: 'http://bunburya.eu/songlist',
            
            visibleIframe: null,
            
            serviceDomains: {
                'youtube':      ['youtube.com', 'www.youtube.com',
                                'youtu.be', 'www.youtu.be'],
                'soundcloud':   ['soundcloud.com', 'www.soundcloud.com']
            },
            
            players: {},
            
            getService: function(domain) {
                for (serv in songlist.serviceDomains) {
                    if (songlist.serviceDomains.hasOwnProperty(serv)) {
                        if (songlist.serviceDomains[serv].indexOf(domain) != -1) {
                            return serv;
                        }
                    }
                }
                return null;
            },
            
            getChecked: function(name) {
                var checked = new Array();
                var boxes = document.getElementsByName(name);
                for (var i = 0; i < boxes.length; i++) {
                    var b = boxes[i];
                    if (b.checked) {
                        checked.push(b.value);
                    }
                }
                return checked;
            },
            
            getURL: function(url) {
                var xmlhttp = new XMLHttpRequest();
                xmlhttp.open("GET", url, false);
                xmlhttp.send();
                return xmlhttp.responseText;
            },
            
            getQueryString: function(params) {
                var queries = new Array();
                for (var key in params) {
                    queries.push(key + '=' + params[key].join(';'));
                }
                return queries.join('+');
            },
            
            loadSCPlayer: function(song) {
                SC.get('/resolve/?url=' + song.url,
                        songlist.loadSCPlayerFromValidURL);
            },
            
            loadSCPlayerFromValidURL: function(response, error) {
                var scUrl = response.uri;
                if (!songlist.players.soundcloud) {
                    // create soundcloud iframe / widget
                    if (songlist.visibleIframe) {
                        // if another player is showing, hide it.
                        songlist.visibleIframe.hidden = true;
                        songlist.visibleIframe = null;
                    }
                    var iframe = document.createElement('iframe');
                    iframe.width = '100%';
                    iframe.src = 'http://w.soundcloud.com/player?url=' + scUrl;
                    document.getElementById('sc_player').appendChild(iframe);
                    console.log('about to create SC widget');
                    var scWidget = SC.Widget(iframe);
                    songlist.players.soundcloud = {
                        widget: scWidget,
                        iframe: iframe
                    };
                } else {
                    var scWidget = songlist.players.soundcloud.widget;
                    var iframe = songlist.players.soundcloud.iframe;
                    if (songlist.visibleIframe != iframe) {
                        songlist.visibleIframe.hidden = true;
                        songlist.visibleIframe = null;
                    }
                    scWidget.load(scUrl);
                    if (iframe.hidden) {
                        iframe.hidden = false;
                    }
                }
                songlist.visibleIframe = iframe;
                // NOTE: not sure if this bind to READY is effective to call play() if the
                // widget is already ready by the time it is called.
                scWidget.bind(SC.Widget.Events.READY, function() { scWidget.play() });
                scWidget.bind(SC.Widget.Events.FINISH, function() { songlist.next() });
            },
            
            loadYTPlayer: function(song) {
                var iframe = songlist.players.youtube.iframe;
                var ytWidget = songlist.players.youtube.widget;
                var re = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var id = song.url.match(re).pop();
                console.log(ytWidget);
                if (songlist.visibleIframe && songlist.visibleIframe != iframe) {
                    songlist.visibleIframe.hidden = true;
                    songlist.visibleIframe = null;
                }
                ytWidget.loadVideoById(id);
                if (iframe.hidden) {
                        iframe.hidden = false;
                }
            },

            
            getPlaylist: function(services, submitters) {
                var url = songlist.baseURL;
                if (songlist.baseURL.slice(-1) != '/') {
                    url += '/';
                }
                url += 'search?format=json&target=songs';
                if (services.length) {
                    var domains = new Array();
                    for (var i = 0; i < services.length; i++) {
                        domains.push.apply(domains, songlist.serviceDomains[services[i]]);
                    }
                    url += '&domain=' + domains.join(';');
                }
                if (submitters.length) {
                    url += '&submitter=' + submitters.join(';');
                }
                var playlist = songlist.getURL(url);
                return JSON.parse(playlist);
            },
            
            loadSong: function(song) {
                var service = songlist.getService(song.domain);
                if (service == 'soundcloud') {
                    songlist.loadSCPlayer(song);
                } else if (service == 'youtube') {
                    songlist.loadYTPlayer(song);
                }
            },

            loadCurrentSong: function() {
                songlist.loadSong(songlist.playlist[songlist.playing]);
            },
            
            load: function() {
                var services = songlist.getChecked('services');
                var submitters = songlist.getChecked('submitters');
                var playlist = songlist.getPlaylist(services, submitters);
                songlist.playlist = playlist;
                songlist.playing = 0; // index of currently playing song
                songlist.loadCurrentSong();
            },

            next: function() {
                songlist.playing++;
                songlist.loadSong(songlist.playlist[songlist.playing]);
            }
        
        }
    </script>
</head>

<body>
    <h1>Play the songlist</h1>
    <table>
        <tr>
            <h2>Play songs submitted by:</h2>
            {% for s in submitters %}
            <input type="checkbox" name="submitters" value="{{ s }}" checked> {{ s }}
            {% endfor %}
        </tr>
        <tr>
            <h2>Streaming services to play:</h2>
            <!--TODO: generate this the same way as submitters,
            maybe implement a python function to return supported services-->
            <input type="checkbox" name="services" value="youtube" checked> YouTube
            <input type="checkbox" name="services" value="soundcloud" checked> Soundcloud
        </tr>
        <tr>
            <h2>Controls</h2>
            <button onclick="songlist.load()">Load</button>
            <button onclick="playlist.play()">Play</button>
            <button onclick="playlist.stop()">Stop</button>
            <button onclick="playlist.prev()">Prev</button>
            <button onclick="songlist.next()">Next</button>
        </tr>
        <tr id="player">
            <h2>Player</h2>
            <div id="yt_player"><!--youtube player to go here--></div>
            <div id="sc_player"><!--soundcloud player to go here--></div>
        </tr>
    
    </table>
    
</body>

</html>
